  @import '_variable.scss';
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: $base-font-family;
    color: $black-color;
  }

  img, picture, video, canvas {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  
  input, button, textarea, select {
    font: inherit;
    outline: none;
    border: none;
  }
  ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a{
    text-decoration: none;
    color: $black-color;
  }
  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  
