$primary-color: #003087;
$black-color:#000000;
$ternary-color:#bfbfbf;
$white-color:#ffffff;

$base-font-family:'Roboto', sans-serif;
$base-font-weight:400;
$base-font-size:16px;
$base-line-height:18.75px;
